@media screen and (max-width: 1080px) {
    //==========CONTACT SECTION
    .header {

        .container {

            .nav {
                position: fixed;
                background-color: $first_color;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                padding: 10%;
                transform: translateX(100%);
                transition: .8s ease;

                .nav_list {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    transform: translateY(0);

                    .nav_list_item {
                        margin: 0;

                        .nav_list_item_link {
                            display: inline-block;
                            padding: 20px 30px;
                        }
                        
                    }
                } 
                
                .btn_close {
                    display: block;
                    position: absolute;
                    height: 4px;
                    width: 40px;
                    top: 30%;
                    right: 30%;
                    border: none;
                    transform: rotate(45deg);

                    &::after {
                        content: "";
                        position: absolute;
                        height: 4px;
                        width: 40px;
                        top: 0;
                        right: 0;
                        border: none;
                        background-color: $second_color;
                        transform: rotate(-90deg);
                    }
                }
            }

            .active {
                transform: translateX(0);
            }

            .btn_menu {
                display: block;
                width: 40px;
                height: 4px;
                background-color: $second_color;
                border: none;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: -10px;
                    right: 0;
                    background-color: $second_color;
                }

                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 10px;
                    right: 0;
                    background-color: $second_color;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    //==========CONTACT SECTION
    .contact {
        
        .container {

            .content {
                flex-direction: column;
                font-size: 0.9rem;
    
                .contact_left {
                    margin-bottom: 40px;
                }
    
                .contact_right {
    
                    .contact_form {
    
                        .second_row {
                            flex-direction: column;
    
                            input {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    //==========FOOTER SECTION
    .footer {

        .footer_container {
            flex-direction: column;

            .about, .info {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-bottom: 50px;
            }

            .info {

                ul {
                    align-items: center;
                    flex-direction: column;

                    li {
                        margin: 5px 0;
                    }
                }
            }

            .hr {
                width: 100%;
                height: 2px;
                background-color: rgba(255, 255, 255, 0.1);
                margin: 10px 0 22px;
            }

            .follow {
                margin-bottom: 30px;
            }
        }
    }
}

@media screen and (max-width: 990px) {
    
    .container {
        margin: 0 10px;
    }
}

@media screen and (max-width: 820px) {

    .about {

        .container {

            .slider {
                width: 600px;
                height: 375px;

                .slides {
                    height: 375px;

                    .slide {

                        img {
                            width: 600px;
                            height: 375px;
                        }
                    }

                    .navigation_auto {
                        width: 600px;
                        margin-top: 335px;
                    }
                }

                .navigation_manual {
                    width: 600px;
                }
            }
        }
    }

    //==========SERVICES SECTION
    .services {

        .container {

            .row {

                .col {
                    width: 100%;
                    margin-bottom: 40px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .pricelist {

        .container {

            h2 {

                &:first-child {
                    margin-left: 200px;
                }
            }

            .content {
                flex-direction: column;

                .content_info {

                    p {
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {

    .pricelist {

        .container {

            h2 {

                &:first-child {
                    margin-left: 160px;
                }
            }
        }
    }
}

@media screen and (max-width: 620px) {

    .about {

        .container {

            .slider {
                width: 400px;
                height: 250px;

                .slides {
                    height: 250px;

                    .slide {

                        img {
                            width: 400px;
                            height: 250px;
                        }
                    }

                    .navigation_auto {
                        width: 400px;
                        margin-top: 210px;
                    }
                }

                .navigation_manual {
                    width: 400px;
                }
            }
        }
    }

    .pricelist {

        .container {

            h2 {

                &:first-child {
                    margin-left: 110px;
                }
            }
        }
    }
}

@media screen and (max-width: 520px) {

    .pricelist {

        .container {

            h2 {

                &:first-child {
                    margin-left: 60px;
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {

    .about {

        .container {

            .slider {
                width: 320px;
                height: 200px;

                .slides {
                    height: 200px;

                    .slide {

                        img {
                            width: 320px;
                            height: 200px;
                        }
                    }

                    .navigation_auto {
                        width: 320px;
                        margin-top: 160px;
                    }
                }

                .navigation_manual {
                    width: 320px;
                }
            }
        }
    }

    .pricelist {

        .container {

            h2 {

                &:first-child {
                    margin-left: 0px;
                }

                &:last-of-type {
                    margin-left: 30px;
                 }
            }

            .content {

                .content_table {
                    min-width: 300px;
                }
            }
        }
    }

    @media screen and (max-width: 390px) {

        .pricelist {
    
            .container {
    
                h2 {
    
                    &:last-of-type {
                       margin-left: 15px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 360px) {

        .pricelist {
    
            .container {
    
                h2 {
    
                    &:last-of-type {
                       margin-left: 10px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 330px) {

        .pricelist {
    
            .container {
    
                h2 {
    
                    &:last-of-type {
                       margin-left: 5px;
                    }
                }
            }
        }
    }
}